@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(87, 87, 87);
    background-image: url(../images/submission_page_images/bg.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
}
.holder{
    background-color: rgba(255, 255, 255, 0.815);
    height: 80vh;
    width: 80vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog{
    height: 90%;
    width: 70%;
    border: 8px solid #5bc9cfc9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.title{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem !important;
}
.input_1{
    width: 35%;
    padding: 2px;
    
}
.input_2{
    width: 80%;
    height: 10%;
    padding: 2px;
    
}
#Content{
    width: 80%;
    height: 30%;
    padding: 2px;
}
.btn{
    padding: 5px;
    width: 100px;
    color: white;
    background-color: #5bc9cfc9;;
    border: 1px solid #5bc9cfc9;;
    border-radius: 4px;
    transition: 0.3s;
}
.back_btn{
    height: 25px;
    /* position: absolute; */
    /* left: 10px;
    top: 10px; */
    cursor: pointer;
    
}
.Blog_images{
    width: 200px;
}
.btn:hover{
    background-color: #3d72b8;
    letter-spacing: 1px;
}
.home:hover{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}
.navbar{
    display: flex;
    position: absolute;
    top: 10px;
    /* left: 10px; */
    width: 99vw;
    justify-content: space-between;
}
.home{
    text-decoration: none;
    color: black;
    width: 80px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}
.logout_btn{
    text-align: center;
    margin-top: 6px;
    padding: 5px;
    width: 100px;
    height: 25px;
    color: white;
    background-color: #5bc9cfc9;;
    border: 1px solid #5bc9cfc9;
    border-radius: 4px;
    transition: 0.3s;
}
.outer_user{
    display: flex;
    width: 23vw;
    justify-content: space-between;
}
.user{
    display:flex;
    align-items: center;
    justify-content: center;
}
.logout_btn:hover{

        background-color: #3d72b8;
        letter-spacing: 1px;
}
@media (max-width: 1023px){
    .input_1{
        width: 50%;
    }
    .input_2{
        width: 90%;
    }
    #Content{
        width: 90%;
    }
    .blog{
        width: 84%;
    }
    .outer_user{
        width: 30vw;
    }
    
}
@media (max-width:700px) {
    .user{
        font-size: 0.7rem;
    }
    .user_img{
        height: 40px;
    }
}
@media (max-width:600px) {
    .logout_btn{
        padding: 4px 2px 2px 2px;
        font-size: 0.8rem;
    }
    .outer_user{
        width: 34vw;
    }
}
@media (max-width: 460px){
    .holder{
        width: 90vw;
    }
    .input_1{
        width: 70%;
        font-size: 0.7rem;
    }
    .input_2{
        width: 90%;
        font-size: 0.7rem;
        
    }
    #Content{
        width: 90%;
        font-size: 0.7rem;
        
    }
    .blog{
        width: 84%;
    }
    .image_cont{
        font-size: 0.7rem;
    }
    .Blog_images{
        font-size: 0.7rem;
        width: 170px;
    }
    .user_img{
        height: 35px;
    }
    .outer_user{
        width: 50vw;
    }
    .logout_btn{
        width: 80px;
        height: 22px;
        margin-top: 2px;
    }
    
}
